# Default ignored files
/node_modules/
/dist/
/.env
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db
*.sqlite3

# Vite / React
frontend/node_modules/
frontend/dist/
frontend/tsconfig.node.tsbuildinfo

# OS
.DS_Store
Thumbs.db
